.headerPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPrincipal-nav {
    display: flex;
}

/* Footer */

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5%;
}
.rodapePrincipal-contatoForm{
    width: 25%;
}
.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

/* section mapa de cursos */
.rodapePrincipal-navMap-list{
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* Section Nuestros Cursos */
.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}
.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}
/* SECCION VIDEO */
.videoSobre .container{
    display: flex;
    justify-content: center;

}
.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.video{
    flex-grow: 2;
}
.videoSobre-sobre-list{
    flex-grow: 2;

}
/* PARTE RESPONSIVA */
@media (max-width:768px) {
.headerPrincipal .container{
    flex-direction: column;
    align-items: initial;
    text-align: center;
}
.headerPrincipal-nav{
    flex-direction: column;
}
.contenidoPrincipal-cursos{
    flex-direction: column;
}
.contenidoPrincipal-cursos-link{
    width: 100%;
}
.rodapePrincipal-navMap-list{
    height: auto;
    flex-wrap: nowrap;
}
/* footer */
.rodapePrincipal-patrocinadores .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodapePrincipal-contatoForm{
    width: 100%;
    display: flex;
    justify-content: center;
}
.headerPrincipal-nav-link-app{
    order: -1;
}
/* video */
.videoSobre .container{
    flex-direction: column;
}
}